<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>description </title>
    <style>
        body {
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 28%, rgba(0, 212, 255, 1) 100%);
        }

        h1 {
            color: #C1ECE4;
            text-align: center;
            font-size: 3rem;
        }

        h2 {
            color: #FFD0D0;
            text-align: center;
            font-size: 2rem;
        }
        p{
            color: #C1ECE4;
            text-align: center;
            margin-top: 300px;
        }
        img{
            margin-left: 45%;
        }
    </style>
</head>
<body>
    <h1>Temperature of <%=city%> is <%=tmp%> degrees celcius.</h1>
    <h2>Weather condition :  <%=description %> </h2>
    <h2>Air pressure : <%=pressure%> hPa</h2>
    <img src = "<%=imageURL %> ">
    <p>© 2023 Shalini</p>
</body>
</html>